################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/SchoolTermTracker/.vs/SchoolTermTracker
/SchoolTermTracker/bin/Debug
/SchoolTermTracker/obj
/SchoolTermTracker/.vs/ProjectEvaluation
/.DS_Store